* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
}

:root {
    /* Colors */
    --clr-dark-black:#000000;
    --clr-footer-black:#1E1E26;
    --clr-logo:#242D52;
    --clr-header-links:#242E52;
    --clr-h1:#232C50;
    --clr-h2:#242E53;
    --clr-btn-bg-orange:#F3603B;
    --clr-gray-placeholder:#A0A0A0;
    --clr-gray:#B3B2B7;
    --clr-darker-gray:#B9B9C1;
    --clr-lightest-gray:#f9f9f9;
    --clr-card-titles-bg:#fff0eb;
    --clr-white:#FFFFFF;
    
    /* Media Queries */
    --vp-mobile: 375px;
    /* --break-point: 769px; */
    --vp-desktop: 1440px;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    /* overflow-x: hidden; */
    min-width: var(--vp-mobile);
    max-width: var(--vp-desktop);
    margin-inline: auto;
}

/* Propiedades generales */

ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
}

header, section, footer {
    padding-inline: 8%;
    padding-block: 5.5rem; /*7.5*/
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

/* Botones */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.4rem;
    height: 4.4rem;
    border-radius: 5rem;
}

.btn-primary {
    background-color: var(--clr-btn-bg-orange);
    box-shadow: 0px 4px 8px 0px rgba(243, 96, 59, 0.5);
}

.btn a, .btn a:visited {
    font-size: 1.318rem;
    font-weight: 500;
    text-transform: capitalize;
}

.btn-primary a, .btn-primary a:visited {
    color: var(--clr-white);
}

.text {
    /* color: var(--clr-dark-black); */
    color: var(--clr-darker-gray);
    font-size: 1.45rem; /*1.63rem*/
    line-height: 1.6;
}


/* Header */


header {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
}

.header--nav, .header--btn {
    display: none;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
}

.hero--illustration {
   margin-inline: 2%; 
}

.hero--illustration img {
    width: 100%;
}

.hero--content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}

.hero--title {
    color: var(--clr-h1);
    font-size: 3.5rem;
    letter-spacing: -0.12rem;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    padding-inline: 3%;
}

.features--abstract {
    padding-inline: 5%;
}

.features--title {
    color: var(--clr-h2);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3.6rem;
}

.features--text {
    text-align: center;
}

/* Features cards */

.features--cards {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}

/* Features single card */

.features--card-title {
    background-color: var(--clr-card-titles-bg);
    color: var(--clr-h2);
    font-size: 1.52rem;
    margin-bottom: 1.5rem;
    padding-block: 0.9rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.features--card-title:before {
    background-color: var(--clr-btn-bg-orange);
    border-radius: 2rem;
    color: #FFFFFF;
    content: '01';
    padding: 0.9rem 2.2rem;
    margin-right: 1.3rem;
}

.features--card:nth-child(2) .features--card-title:before {
    content: '02';
}

.features--card:nth-child(3) .features--card-title:before {
    content: '03';
}

/* Testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.testimonials--title {
    color: var(--clr-h2);
    font-size: 3rem;
    text-align: center;
}

/* Testimonials cards */

.testimonials--card:not(.testimonials--card:nth-child(2)) {
    display: none;
}

/* Testimonial single card */

.testimonials--card {
    background-color: var(--clr-lightest-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;
    position: relative;
}

.testimonials--card-img {
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: 80%;
}

.testimonials--card-img img {
    width: 100%;
}

.testimonials--card-title {
    margin-top: 3rem;
    color: var(--clr-h2);
    font-size: 1.52rem;
}

.testimonials--card-text {
    text-align: center;
}

/* Carousel */

.carousel-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.6rem;
    height: 1rem;
    margin-block: -2rem;
}

.dot {
    border-radius: 50%;
    border: 1px solid var(--clr-btn-bg-orange)  ;
    width: 0.75rem;
    height: 0.75rem;
}


/* Footer top*/

footer {
    padding-inline: 0;
    padding-block-end: 0;
}

.footer--top {
    background-color: var(--clr-btn-bg-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 5rem;
    padding-block-end: 7rem;
    padding-inline: 8%;
}

.footer--top-title {
    color: var(--clr-white);
    font-size: 3.6rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1.5rem;
}

.footer--btn {
    background-color: var(--clr-white);
}

.footer--btn a {
    color: var(--clr-btn-bg-orange);
}

/* Footer bottom */

.footer--bot {
    padding-inline: 8%;
    background-color: var(--clr-footer-black);
    padding-block-start: 4.5rem;
    padding-block-end: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footer--subscribe {
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
}

.footer--subscribe input {
    border: none;
    border-radius: 2rem;
    height: 4.4rem;
}

.footer--subscribe input::placeholder {
    color: var(--clr-gray-placeholder);
    font-size: 1.45rem;
    padding-inline: 1.5rem;
}

.submit-btn {
    color: var(--clr-white);
    background-color: var(--clr-btn-bg-orange);
    border: none;
    font-size: 1.318rem;
    font-weight: 500;
    width: 6.8rem;
}

.footer--nav {
    padding-inline: 6%;
}

.footer--nav ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 11.2rem;
}

.footer--nav-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer--nav a {
    color: var(--clr-gray);
    font-size: 1.45rem; /*1.63rem*/
    font-weight: 400;
    line-height: 1.6;
    text-transform: capitalize;
}

.footer--bot-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

/* Footer social */

.footer--social {
    display: flex;
    /* justify-content: space-between; */
    gap: 4.23rem;
}

.fa-facebook-square, .fa-youtube,
.fa-youtube, .fa-twitter,
.fa-pinterest, .fa-instagram {
    color: var(--clr-white);
}


.footer--copyright {
    color: var(--clr-gray);
    font-size: 1.22rem;
    font-weight: 500;
}

/* Media Queries Rules */

@media only screen and (min-width: 1099px){

    /* General rules */

    header, section {
        padding-block: 6.5rem; 
    }

    footer {
        padding-block-start: 6.5rem;
    }

    /* Header */

    header {
        align-items: center;
    }

    .header--burger {
        display: none;
    }

    .header--nav {
        display: block;
    }

    .header--nav ul {
        display: flex;
        gap: 2.8rem;
    }

    .header--nav a, .header--nav a:visited {
        color: var(--clr-header-links);
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: capitalize;
    }

    .header--btn {
        display: flex;
    }

    /* Hero */

    .hero {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hero--illustration {
        margin-inline: 0;
    }

    .hero--content {
        order: -1;
        width: 40%;
        text-align: start;
        align-items: flex-start;
    } 

    .hero--title {
        font-size: 5.8rem;
    }

    .text {
        font-size: 1.656rem;
    }

    .hero--text {
        width: 75%;
    }

    /* Features */

    .features {
        flex-direction: row;
        gap: 21rem;
        /* justify-content: center; */
        padding-inline: 8%;
    }

    .features--abstract {
        padding-inline: 0;
    }

    .features--title {
        text-align: start;
        font-size: 3.6rem;
    }

    .features--text {
        text-align: start;
        width: 90%;
    }

    .features--card-title {
        background-color: transparent;
        font-size: 1.6rem;
    }

    .features--card-title:before {
        margin-right: 2.3rem;
    }

    .features--card-text {
        margin-inline-start: 8.6rem;
        font-size: 1.63rem;
        letter-spacing: -1%;
    }

    /* Testimonials */

    .testimonials--title {
        font-size: 3.921rem;
        margin-block-end: 4rem;
    }

    .testimonials--cards {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .testimonials--card:not(.testimonials--card:nth-child(2)) {
        display: flex;
    }

    .carousel-dots {
        display: none;
    }

    /* Footer top */

    .footer--top {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 11%;
    }

    .footer--top-title {
        font-size: 4rem;
        text-align: start;
        line-height: 1;
        width: 45%;
    }

    .footer--bot {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .footer--subscribe {
        align-self: flex-start;
        float: right;
    }

    .footer--bot-group {
        flex-direction: column-reverse;
        order: -2;
    }

    .footer--nav {
        order: -1;
    }

    /* .footer--copyright {
        display: ;
    } */
}